@import url('@fontsource-variable/caveat');
@import url('@fontsource-variable/karla');
@import url('@fontsource-variable/nunito');
@import url('@fontsource/roboto');
@import url('primereact/resources/primereact.min.css');
@import url('primeicons/primeicons.css');
@import url('primeflex/primeflex.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: var(--font-family);
    background-color: var(--surface-ground);
    color: var(--text-color);

    --transition-duration: 0.2s;
}

* {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    font-size: 16px;
}

html.dark body {
    background: #040d19;
}

html.dark .card {
    background: #071426;
}

a {
    font-weight: 500;
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    padding: 1rem;
    min-width: 320px;
    min-height: 100vh;
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--surface-ground);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1.5rem 0 1rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: var(--surface-900);
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
    margin-top: 0;
}

mark {
    background: #fff8e1;
    padding: 0.25rem 0.4rem;
    border-radius: 12px;
    font-family: monospace;
}

blockquote {
    margin: 1rem 0;
    padding: 0 2rem;
    border-left: 4px solid #90a4ae;
}

hr {
    border-top: solid var(--surface-border);
    border-width: 1px 0 0;
    margin: 1rem 0;
}

p {
    margin: 0 0 1rem;
    line-height: 1.5;
}

p:last-child {
    margin-bottom: 0;
}